<ion-view bindonce="$root.i18n" view-title="{{::$root.i18n.myFavorites}}" class="favorites" cache-view="false">

    <ion-content overflow-scroll="true" class="has-header no-tabs">

        <ion-list>

            <a collection-repeat="item in dataList" class="item item-thumbnail-left item-text-wrap" ng-click="viewProductDetail(item)">
                <img ng-src="{{item.pictUrl}}">

                <h2>{{item.title}}</h2>

                <p>
                    <span class="currency">￥</span><span class="zkPrice">{{item.zkPrice}}</span> <span class="rePrice">￥{{item.reservePrice}}</span>
                    <button ng-click="rmProduct($index, $event)" class="button button-icon icon ion-ios-trash-outline button-small pull-right"></button>
                </p>
            </a>

        </ion-list>

        <div ng-show="dataList.length == 0" class="padding no-records">
            <p class="tip-content" bo-text="$root.i18n.noData"></p>
        </div>

    </ion-content>

</ion-view>
