<ion-modal-view ng-controller="ProductImagesViewerCtrl" bindonce="$root.i18n" class="full-mode-modal product-images-viewer">

    <div ng-show="editMode" class="bar bar-header">
        <button class="button button-clear" ng-click="cancel()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </div>

    <div ng-click="toggleEditMode()" class="overflow-scroll" ng-class="{'has-header': editMode}">
        <ion-slide-box show-pager="false" active-slide="currentShowItemIdx">
            <ion-slide ng-repeat="imgUrl in photos">
                <ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1">
                    <div class="img-wrapper">
                        <div class="img-content">
                            <img ng-src="{{imgUrl}}">
                        </div>
                    </div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </div>

</ion-modal-view>
