<ion-modal-view ng-controller="ProductCategoriesCtrl" bindonce="$root.i18n"
                class="xs-offset-left-modal stable-bg product-categories">

    <div>

        <!--大分类-->
        <ul class="cate-list">
            <li ng-class="{'active': item.selected}" ng-click="selectCategory(item)" ng-repeat="item in categories">
                <img ng-if="item.icon" ng-src="{{::item.icon}}">
                {{::item.cName}}
            </li>
        </ul>

        <!--子分类-->
        <ul class="sub-cate-list">
            <li ng-class="{'active': item.selected}" ng-click="selectSubCategory(item)"
                ng-repeat="item in subCategories">
                {{::item.vcName}}
            </li>
        </ul>

    </div>

</ion-modal-view>