<ion-modal-view ng-controller="ProductDetailCtrl" bindonce="$root.i18n" class="full-mode-modal product-detail">

    <div class="bar bar-header">
        <button class="button button-icon ion-ios-arrow-back" ng-click="$close()"></button>
        <div class="h1 title">{{::productInfo.productName}}</div>
    </div>

    <div lazy-scroll class="overflow-scroll has-header has-footer">
        <div class="d-list">
            <div class="item">
                <!--图片轮播-->
                <ion-slide-box does-continue="true" show-pager="true" auto-play="true" class="image-jumbotron">
                    <ion-slide ng-repeat="imageUrl in productInfo.imgUrls">
                        <div class="box item-image">
                            <img style="width: 80%" ng-src="{{imageUrl}}" />
                        </div>
                    </ion-slide>
                </ion-slide-box>

                <!--产品名称-->
                <div style="margin-top: 8px" class="item-content item-text-wrap">
                    <h3>{{::productInfo.productName}}</h3>
                </div>

                <!--产品价格-->
                <p style="margin-top: 8px">
                    <span class="currency">￥</span><span class="zkPrice">{{::productInfo.zkPrice}}</span> <span class="rePrice">￥{{::productInfo.rePrice}}</span>

                    <span ng-if="productInfo.postfree" class="pull-right post-free">{{::$root.i18n.postFree}}</span>

                    <span class="pull-right">{{::$root.i18n.salePerMonth}}{{productInfo.biz30day}}</span>
                </p>

            </div>

            <div class="item item-divider floor-item-divider"></div>

            <!--商品详细描述-->
            <div class="item product-description" view-all-photos-in-content="{{productInfo.htmlContent}}">
            </div>
        </div>
    </div>

    <div class="bar bar-footer">
        <button ng-click="addToMyFavorites()" class="button icon-left button-positive ion-ios-heart">{{::$root.i18n.favorites}}</button>
        <button ng-click="popupSharePanel()" class="button icon-left button-positive ion-android-share-alt">{{::$root.i18n.share}}</button>
        <button ng-click="goToBuy()" ng-style="{width: shoppingBtnWith}" class="button icon-left button-energized ion-android-cart">{{::$root.i18n.toBuy}}</button>
    </div>

    <script id="share-product-panel.html" type="text/ng-template">
        <div class="share-product-panel" bindonce="$root.i18n">
            <div class="text-center">
                <button ng-click="shareToWeChat()" class="button">
                    <img src="img/wechat_icon.png"> <span bo-text="$root.i18n.shareToWeChat"></span>
                </button>
                <button ng-click="shareToQQ()" class="button qq">
                    <img src="img/qq_icon.png"> <span bo-text="$root.i18n.shareToQQ"></span>
                </button>
            </div>
        </div>
    </script>

</ion-modal-view>