<ion-view bindonce="$root.i18n" view-title="{{title}}" class="shopping">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="showCategories()">
      <!--<i class="button button-icon icon ion-navicon"></i>-->
      {{::$root.i18n.cate}}
    </button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" class="has-header">

    <!--上拉刷新-->
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>

    <div class="flow-row">
      <a ng-click="viewProductDetail(item)" item-height="itemHeight" collection-repeat="item in dataList" class="col col-50">
        <div class="divide-line"></div>
        <div ng-if="item.baokuan" class="very-hot">{{::$root.i18n.topSale}}</div>
        <img ng-src="{{item.pictUrl}}" img-loaded="item.imgLoaded" style="width: 100%" ng-style="{height: imageHeight}">
        <p class="product-name">{{item.title}}</p>
        <p><span class="currency">￥</span><span class="zkPrice">{{item.zkPrice}}</span> <span class="rePrice">￥{{item.reservePrice}}</span></p>
        <p class="sales">
          <span>{{::$root.i18n.salePerMonth}}{{item.biz30day}}</span>
          <span ng-if="item.postfree" class="post-free">{{::$root.i18n.postFree}}</span>
          <span ng-if="item.p4p" class="hot-sale">{{::$root.i18n.hotSale}}</span>
        </p>
      </a>
    </div>

    <div ng-show="isNoData" class="padding no-records">
      <p class="tip-content" bo-text="$root.i18n.noData"></p>
    </div>

    <!--下拉加载-->
    <ion-infinite-scroll on-infinite="loadMore()"
                         ng-if="!noMoreData"
                         icon="ion-loading-c"
                         distance="1%">
    </ion-infinite-scroll>

  </ion-content>

  <nav mfb-menu position="br" effect="zoomin" menu-state="menuOpen"
       active-icon="ion-plus-round" resting-icon="ion-plus-round"
       toggling-method="click">
    <button ng-click="goToFavorites()" mfb-button icon="ion-heart" label="{{::$root.i18n.myFavorites}}"></button>
    <button ng-click="goToFootprints()" mfb-button icon="ion-ios-paw-outline" label="{{::$root.i18n.myFootprints}}"></button>
  </nav>

  <!--TAB BAR-->
  <div class="tabs shopping-tabs">
    <a ng-click="changeTab(0, 1)" class="tab-item" ng-class="{active: activeMenuTabIndex == 0}">
      {{::$root.i18n.shoppingTab1}}
    </a>
    <a ng-click="changeTab(1, 2, 0)" class="tab-item" ng-class="{active: activeMenuTabIndex == 1}">
      {{::$root.i18n.shoppingTab2}}
    </a>
    <a ng-click="changeTab(2, 3, 0)" class="tab-item" ng-class="{active: activeMenuTabIndex == 2}">
      {{::$root.i18n.shoppingTab3}}
    </a>
  </div>

</ion-view>
