/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path : "../lib/ionic/fonts" !default;

// 图片缩略图
$thumbnail-padding : 0px !default;
$thumbnail-bg : #fff !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

body {
  overflow-y : hidden;
}

// mixins
// --------------------------------------------------

// Responsive image
// Keep images from scaling beyond the width of their parents.
@mixin img-responsive($display : block) {
  display   : $display;
  max-width : 100%; // Part 1: Set a maximum relative to the parent
  height    : auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  border-color     : #e5e5e5;
  background-color : #f5f5f5;
}

// Content Margin
// --------------------------------------------------

.no-padding {
  padding : 0px !important;
}

.no-bottom-padding {
  padding-bottom : 0px !important;
}

.no-top-padding {
  padding-top : 0px !important;
}

.no-left-padding {
  padding-left : 0px !important;
}

.no-margin {
  margin : 0px !important;
}

.no-bottom-margin {
  margin-bottom : 0px !important;
}

.no-top-margin {
  margin-top : 0px !important;
}

.show-all-item {
  .item-content {
    padding      : 8px 16px !important;
    padding-left : 4px !important;

    h2 {
      white-space : normal;
    }
  }
  .item p {
    white-space : normal;
  }
}

// Floats
// -------------------------
.pull-right {
  float : right !important;
}

.pull-left {
  float : left !important;
}

// Slide up from right side, used for modals
// -------------------------------

.slide-in-right {
  @include translate3d(100%, 0, 0);
}

.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
  @include transition(all cubic-bezier(.1, .7, .1, 1) 400ms);
}

.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
  @include translate3d(0, 0, 0);
}

.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
  @include transition(all ease-in-out 250ms);
}

// 流式行
.flow-row {
  @extend .row;
  display : inline-block;

  .col {
    float : left;
  }
}

.no-tabs {
  bottom : 0;
}

.img-thumbnail {
  padding          : $thumbnail-padding;
  line-height      : $line-height-base;
  background-color : $thumbnail-bg;
  border           : 1px solid $bar-default-border;

  @include img-responsive(inline-block);

  @include transition(all 200ms ease-in-out);
}

.item-input-wrapper {
  position : relative;
  .button.button-icon.input-button {
    position : absolute;
    right    : 0;
    top      : 0;
    color    : #bbb;
    &:before {
      font-size : 20px;
    }
  }
}

.relative {
  position : relative;
}

.inline {
  display : inline-block;
}

label.checkbox {
  vertical-align : top;
}

/**
 * This CSS uses adjacent selectors instead of general sibling (~) selectors
 * for ion radio that are broken in iOS 9 UIWebView.
 *
 * To apply the patch, include this CSS after your ionic.css include.
 */
.item-radio input:checked + .radio-content .item-content {
  /* style the item content when its checked */
  background : #f7f7f7;

}

.item-radio input:checked + .radio-content .radio-icon {
  /* show the checkmark icon when its checked */
  visibility : visible;

}

.header-selector {
  min-width    : 86px;
  padding-left : 0;
  border       : none;
  select {
    padding-left  : 4px;
    padding-right : 0px;
    left          : 0;
  }
}

.sub-bar-footer {
  @extend .bar-footer;
  bottom : 49px;
}

// 移动设备下左边偏移一小部分
.xs-offset-left-modal {
  @extend .modal;
  top         : 0px !important;
  bottom      : 0px !important;
  right       : 0 !important;
  width       : 100px !important;
  margin-left : -45% !important;
}

@media (min-width : $modal-inset-mode-break-point) {
  .xs-offset-left-modal {
    left  : auto !important;
    width : 150px !important;
  }

  .full-mode-modal {
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    min-height : 100%;
    width      : 100%;
  }
}

.no-records {
  .button {
    border-style : dashed;
  }
  .tip-content {
    text-align : center;
  }
}

.floor-item-divider {
  @extend .item-divider;
  min-height : 12px;
  height     : 12px;
  padding    : 0px;
}

.item-toggle {
  pointer-events : auto;

  .button {
    min-width   : 0;
    min-height  : 0;
    padding     : 0;
    line-height : 0;
  }
}

@media (min-width : $modal-inset-mode-break-point) {
  .login {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.share-app-panel {
  img {
    width : 100px;
  }
  .ion-close-circled {
    position : absolute;
    right    : -12px;
    top      : -12px;
  }
}

//解决商品列表浮动圆菜单在android上显示不出来的问题
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }

.shopping {

  .shopping-tabs {
    .tab-item {
      font-size: 16px;
      &.active {
        color: #f50;
        font-weight: bold;
      }
    }
  }

  //菜单
  .mfb-component--br {
    bottom: 30px;

    .mfb-component__button--main, .mfb-component__button--child {
      width: 50px;
      height: 50px;
      background-color: #ffffff;
      border: 1px solid #ddd;
      box-shadow: none;
      color: #333333;
    }

    .mfb-component__child-icon, .mfb-component__icon, .mfb-component__main-icon--active, .mfb-component__main-icon--resting {
      line-height: 50px;
    }

    .ion-ios-paw-outline {
      font-size: 24px;
      font-weight: bold;
    }

  }

  background-color : #F5F5F5;
  p {
    margin-bottom : 6px;
  }
  .col {
    background-color : #ffffff;
    margin-top       : -10px
  }
  .divide-line {
    background-color : #F5F5F5;
    height           : 5px;
    padding-left     : -8px;
    margin-left      : -5px;
    margin-bottom    : 5px;
    margin-top       : -5px;
    margin-right     : -5px
  }
  .very-hot {
    display                    : block;
    position                   : absolute;
    padding                    : 0 6px 0 4px;
    top                        : 14px;
    left                       : 0px;
    background-color           : #f40;
    color                      : #fff;
    font-size                  : 12px;
    line-height                : 1.5;
    border-top-right-radius    : 10px;
    border-bottom-right-radius : 10px;
    font-weight                : bold;
  }
  .product-name {
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap
  }
  .currency {
    color       : #f50;
    font-size   : 14px;
    font-weight : 400;
  }
  .zkPrice {
    color       : #f50;
    font-size   : 20px;
    font-weight : 700;
  }
  .rePrice {
    color           : #d4d4d4;
    text-decoration : line-through;
    font-weight     : 500;
  }
  .sales {
    color      : #777;
    border-top : 1px solid #F5F5F5;
    padding    : 4px 0;
    .hot-sale {
      float         : right;
      margin-left   : 4px;
      padding       : 0 2px;
      line-height   : 1.5;
      font-size     : 12px;
      color         : #f40;
      border        : 1px solid #f40;
      border-radius : 1px;
      font-weight   : bold;
    }
    .post-free {
      float         : right;
      margin-left   : 4px;
      padding       : 0 2px;
      line-height   : 1.5;
      font-size     : 12px;
      color         : #47a183;
      border        : 1px solid #47a183;
      border-radius : 1px;
      font-weight   : bold;
    }
  }
  .tabs {
    a {
      font-size : 14px;
    }
  }
}


.product-detail {
  .bar-header {
    .title {
      margin: 0 auto;
      width: 80%;
    }
  }

  .currency {
    color       : #DD2727;
    font-size   : 20px;
    font-weight : 600;
  }
  .zkPrice {
    color       : #DD2727;
    font-size   : 28px;
    font-weight : 700;
  }
  .rePrice {
    color           : #888888;
    text-decoration : line-through;
    font-weight     : 500;
  }
  .post-free {
    float         : right;
    margin-left   : 4px;
    padding       : 0 2px;
    line-height   : 1.5;
    font-size     : 12px;
    color         : #47a183;
    border        : 1px solid #47a183;
    border-radius : 1px;
    font-weight   : bold;
  }

  .product-description {
    img {
      max-width: 100%;
      height: inherit !important;
      display: block;
    }
    table {
      width: 100% !important;
    }
    div, p {
      max-width: 100% !important;
    }
  }

  .bar-footer {
    padding: 0;
    .button {
      border-radius: 0;
      font-size: 16px;
      width: 80px;
      height: 100%;
      &:first-child {
        border-right: none;
      }
    }
    .button:last-child {
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      left: 160px;
    }
  }

}

.share-product-panel {
  .button {
    width: 105px;
    img {
      width    : 32px;
      position : relative;
      top      : 8px;
    }
    &.qq {
      img {
        width : 24px;
      }
    }
  }
}

.product-images-viewer {
  .slider {
    height: 100%;

    ion-scroll {
      height: 101%;
      background-color: #000;
    }
  }
  .img-wrapper {
    display: table;
    height: 100%;
    background-color: #000;

    .img-content {
      display:table-cell;
      vertical-align:middle;

      img {
        max-width: 100%;
        max-height: 100%
      }
    }
  }
}

.favorites, .footprints {
  .currency {
    color       : #f50;
    font-size   : 14px;
    font-weight : 400;
  }
  .zkPrice {
    color       : #f50;
    font-size   : 20px;
    font-weight : 700;
  }
  .rePrice {
    color           : #d4d4d4;
    text-decoration : line-through;
    font-weight     : 500;
  }
  h2 {
    font-size: 14px;
  }
}

.product-categories {
  -moz-box-shadow    : 6px 2px 20px #000000;
  -webkit-box-shadow : 6px 2px 20px #000000;
  box-shadow         : 6px 2px 20px #000000;
  width              : 200px !important;

  ul.cate-list {
    position         : absolute;
    top              : 0;
    bottom           : 0;
    right            : 0;
    width            : 80px;
    background-color : #ffffff;
    padding-top: 15px;
    overflow-y: auto;
    li {
      padding       : 15px 12px;
      border-bottom : 1px solid #f5f5f5;
      img {
        width          : 18px;
        height         : 18px;
        vertical-align : text-bottom;
      }
      &.active {
        background-color : #F8F8F8;
      }
    }
  }

  ul.sub-cate-list {
    position     : absolute;
    top          : 0;
    bottom       : 0;
    right        : 0;
    left         : 0;
    overflow-y   : auto;
    padding      : 20px 8px;
    margin-right : 80px;
    li {
      padding       : 8px 4px;
      margin-bottom : 4px;
      border        : 1px solid #D7DBE4;
      border-radius : 4px;
      text-align    : center;
      &.active {
        border-color : #FF5500;
      }
    }
  }
}

// angular loading bar
/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: $positive;
  position: fixed;
  z-index: 10002;
  top: 64px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;

  padding-top: 1px;
  padding-bottom: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 32px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}



